<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>AlunoAdd</display-name>
    <servlet-name>AlunoAdd</servlet-name>
    <servlet-class>control.AlunoAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlunoAdd</servlet-name>
    <url-pattern>/AlunoAdd</url-pattern>
  </servlet-mapping>
  <display-name>sisacademia</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TurmaAdd</display-name>
    <servlet-name>TurmaAdd</servlet-name>
    <servlet-class>control.TurmaAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TurmaAdd</servlet-name>
    <url-pattern>/TurmaAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtividadeAdd</display-name>
    <servlet-name>AtividadeAdd</servlet-name>
    <servlet-class>control.AtividadeAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtividadeAdd</servlet-name>
    <url-pattern>/AtividadeAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstrutorAdd</display-name>
    <servlet-name>InstrutorAdd</servlet-name>
    <servlet-class>control.InstrutorAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstrutorAdd</servlet-name>
    <url-pattern>/InstrutorAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstrutorListar</display-name>
    <servlet-name>InstrutorListar</servlet-name>
    <servlet-class>control.InstrutorListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstrutorListar</servlet-name>
    <url-pattern>/InstrutorListar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TurmaListar</display-name>
    <servlet-name>TurmaListar</servlet-name>
    <servlet-class>control.TurmaListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TurmaListar</servlet-name>
    <url-pattern>/TurmaListar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtividadeListar</display-name>
    <servlet-name>AtividadeListar</servlet-name>
    <servlet-class>control.AtividadeListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtividadeListar</servlet-name>
    <url-pattern>/AtividadeListar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarTurma</display-name>
    <servlet-name>ListarTurma</servlet-name>
    <servlet-class>control.ListarTurma</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarTurma</servlet-name>
    <url-pattern>/ListarTurma</url-pattern>
  </servlet-mapping>
</web-app>